@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Gowun+Dodum&family=Orbit&display=swap');

body {
	height: 100vh;
	margin: 0;
	font-family: Arial, sans-serif;
}

#inputFields {
	font-family: "Gowun Dodum", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#content-upload-button {
	cursor: pointer;
	border-radius: 7px;
	margin-left : 10px;
	background-color: #65A1E7;
	color: white;
	border: none;
	height : 35px;
	width : 60px;
	font-size : 13px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0px;
	transition: 0.3s ease;
}

#form-actions{
	display: flex;
	flex-direction: row;
    justify-content: end;
}

#content-cancel-button{
	cursor: pointer;
	border-radius: 7px;
	background-color: #E47C7C;
	color: white;
	border: none;
	height : 35px;
	width : 60px;
	font-size : 13px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.3s ease;
}

#content-add-button{
	cursor: pointer;
	border-radius: 7px;
	background-color: #8f7ce4;
	color: white;
	border: none;
	height : 35px;
	width : 45px;
	font-size : 13px;
	padding: 0;
	transition: 0.3s ease;
}

#content-upload-button:hover {
	background-color: #1d78e2;
}

#content-cancel-button:hover {
	background-color: #cd0909;
}

#content-add-button:hover {
	background-color: #593be1;
}

#form-form-group{
	border-bottom:1px solid #000000;	
}

.container {
	width: 80%;
	max-width: 1200px;
	margin: 30px auto;
	padding: 20px;
	border: #198754 solid 1px;
	border-radius: 7px;
	box-shadow: 0px 0px 5px 0px #198754;
	word-break: break-all;
	overflow-wrap: break-word;
}

.container > form {
	width: 95%;
	margin: auto;
}

.form-group {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

.form-group label {
	flex: 0 0 100px;
	margin-right: 10px;
}

.form-form-group > .form-group-title:first-child {
	border: none;
	height: auto;
	margin-bottom: 20px;
}

.form-group-title {
    border-top: #1f66cfd9 2px dotted;
	height: 80px;
    margin-bottom: 0;
}

#fileFields {
    display: flex; /* Flexbox 레이아웃을 사용 */
}

#fileFields .form-group {
    margin-right: 10px; /* 각 그룹 간의 간격을 위한 여백 */
}

#fileFields .form-group:last-child {
    margin-right: 0px; 
}

.form-group .form-control {
	padding: 6px;
	margin-right: 10px;
}

.form-group .form-control:last-child {
	margin-right: 0;
}

input[type="text"], input[type="file"], textarea {
	flex: 1;
	padding: 8px;
	box-sizing: border-box;
}


.form-actions {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-top: 20px;
}

.center-align {
	text-align: center;
	margin-top: 10px;
}

button, input[type="submit"] {
	padding: 10px 20px;
	font-size: 16px;
}