@charset "UTF-8";
body {
	margin: 0;
    box-sizing: border-box;
}

.contents {
	width: 88%;
	margin: auto;
	border-radius: 7px;
    border: 2px solid #1d78e252;
}

.content-wrap {
	width: 100%;
	margin: auto;	
	padding: 5px;
    box-sizing: border-box;
}

#content-title {
	font-size: 2.5rem;
	text-align: center;
}

.content::before {
	content: '';
    display: block;
    width: 100%;
    position: absolute;
    top: 24px;
    border: 2px dashed #f3f2f2;
    z-index: -2;
}

.content {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    margin-bottom: 40px;
}


.course-lists {
	display: flex;
	list-style: none;
	padding: 10px;
    margin: 0 auto;
    transition: transform 0.5s ease;
}

.course-lists li {
	width: 20vw;
	height: 25.2vw;
	margin: 0 15px;
	cursor: pointer;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.course-on-half::before {
	content: '';
    display: block;
    width: 65%;
    height: 4px;
    background: #4d49ed;
    position: absolute;
    left: -27px;
    top: 14px;
    z-index: -1;
    transition: 0.2s ease;
}

.course-on-full::before {
	content: '';
    display: block;
    width: 130%;
    height: 4px;
    background: #4d49ed;
    position: absolute;
    left: -27px;
    top: 14px;
    z-index: -1;
}

.course-number {
	width: 30px;
	height: 30px;
	margin-bottom: 5px;
	text-align: center;
	line-height: 30px;
	border: 2px solid #bfbfbf;
	border-radius: 100%;
	background-color: white;
	color: #767676;
}

.course-image-title {
	position: absolute;
	top: 40%;
	width: 95%;
	text-align: center;
	font-size: 1.3rem;
	padding: 0 5px;
	color: white;
	word-break: break-all;
	overflow-wrap: break-word;
}

.course-image-wrap {
    width: 100%;
    height: 100%;
}

.course-image {
	margin: 0;
	width: 100%;
	height: 100%;
	border-radius: 10px;
}

.course-image::after {
	content: '';
	display: block;
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	width: 100%;
	height: 100%;
}

.active-course-image::after {
	content: '';
	display: block;
	background-color: rgba(73, 141, 237, .8);
	border-radius: 10px;
	width: 100%;
	height: 100%;
}

.course-image:hover::after {
	background-color: rgba(73, 141, 237, .8);
	border-radius: 10px;
	box-shadow: 2px 2px 10px 0px rgba(150,149,149,1);
}

.active-course-number {
	background-color: white;
	border: 2px solid #024a9f;
	color: #024a9f;
}

.profile, .reply-profile {
	display: flex;
	flex-direction: row;
}

.profile-contents, .reply-profile-contents {
	margin: auto 2px;
}

#profile-nickname, #profile-date, #reply-profile-nickname, #reply-profile-date {
	margin: 2px 0;
}

.profile {
	margin-bottom: 3px; 
	padding: 5px;
}

.content-buttons {
	display: flex;
	flex-direction: row;
    justify-content: end;
    margin: 15px;
}

.content-buttons > input[type=button] {
	margin-left: 5px;
	transition: background-color 1s ease-out;
}

#content-edit-button {
	background-color: #65A1E7;
	color: white;
}

#content-edit-button:hover {
	background-color: #1d78e2;
}

#content-delete-button {
	background-color: #E47C7C;
	color: white;
}

#content-delete-button:hover {
	background-color: #cd0909;
}

.prev-button {
	background-image: url("../images/prev_button.png");
	width: 30px;
	height: 30px;
	position: absolute;
	cursor: pointer;
	top: 56%;
	transform: translateY(-50%);
}

.next-button {
	background-image: url("../images/next_button.png");
	width: 30px;
	height: 30px;
	position: absolute;
	cursor: pointer;
	top: 56%;
	right: 0;
	transform: translateY(-50%);
}

.course-detail {
	margin: 10px;
	padding: 5px 10px;
	border-radius: 7px;
	box-shadow: 1px 1px 6px 0px #33cad2;
	word-break: break-all;
	overflow-wrap: break-word;
}

#course-detail-title {
    margin: 20px auto 0 auto;
    font-size: 2rem;
    text-align: center;
}

#course-detail-location {
    margin: 0 auto 20px auto;
    font-size: 1.2rem;
    text-align: center;
    color: #95959a;
}

.course-detail-image-wrap  {
	display: flex;	
	justify-content: space-between;
	margin: 10px auto;
}

.course-detail-image {
    width: 100%;
    height: 25vw;
	margin: 0 10px;
	display: flex;
	justify-content: space-around;
}

.course-detail-image-wrap > .course-detail-image > img {
	width: 30%;
    height: auto;
	border-radius: 7px;
}

.course-detail-content {
	margin: 30px 10px;
}

.course-detail-content > article {
	font-size: 1.2rem;
}

.course-detail-tags {
	margin: 10px;
}

.course-detail-tags > ul {
	list-style: none;
	display: flex;
	padding: 0;
}

.course-detail-tags > ul > li {
	margin-right: 10px;
	border-radius: 5px;
	background-color: lightsteelblue;
	color: white;
	padding: 5px 10px;
	cursor: pointer;
	transition: background-color 1s ease;
}

.course-detail-tags > ul > li:hover {
	background-color: #65A1E7
}

hr {
	width: 90%;
    margin: 20px auto 50px auto;
	border: #e6e6e6 1px solid;
}

.reply-write {
	width: 85%;
	margin: auto auto 5em auto;
	padding: 8px;
}

.reply-form {
	position: relative;
}

#disable-reply-box {
	display: block;
	width: 100%;
	height: 57px;
	padding: 5px;
	border: 1px solid #999;
	border-radius: 7px;
	color: #999;
	background-color: #f3f3f5;
	cursor: pointer;	
}

#reply-write-title {
	margin: 2px;
}

#reply-write-area {
	width: 100%;
	padding: 5px;
	border-radius: 7px;
	resize: none;
}

#reply-write-button {
	position: absolute;
	right: -0.8rem;
    bottom: -40px;
	background-color: #066AE0;
	color: white;
	transition: background-color 1s ease-out;
}

#reply-write-button:hover {
	background-color: #024a9f;	
}

.reply-view-lists {
	list-style: none;
	margin: auto;
	padding: 0;
	width: 83%;
}

.reply-view-list {
	margin-bottom: 20px;
}

.reply-view {
	width: 100%;
	margin: auto;
	padding: 3px;
	border: white;
	border-radius: 7px;
	box-shadow: 0px 0px 10px lightsteelblue;
}

.reply-view-content {
	padding: 7px 15px;
}

.reply-view-more-button {
	position: relative;
	margin-top: 3px;
}

.reply-view-more-button > img {
	cursor: pointer;
}

.reply-view-more-button-lists {
	position: absolute;
	list-style: none;
    width: 40px;
    top: 1.5rem;
    right: 0.2rem;
	cursor: pointer;
	display: none;
    opacity: 0;
    transition: opacity 0.3s ease, height 0.3s ease;
}

.reply-view-more-button-lists.show {
    display: block;
    opacity: 1;
}

.reply-view-more-button-lists > li:first-child {
	margin: 3px auto;
    background-color: #65A1E7;
    border-radius: 5px;
    text-align: center;
    transition: background-color 1s ease-out;
}

.reply-view-more-button-lists > li:first-child:hover {
	background-color: #1d78e2;
}

.reply-view-more-button-lists > li:first-child > a {
	text-decoration: none;
    color: white;
    font-size: 0.8rem;
}

.reply-view-more-button-lists > li:nth-child(2) {
	margin: 3px auto;
    background-color: #E47C7C;
    border-radius: 5px;
    text-align: center;
    transition: background-color 1s ease-out;
}

.reply-view-more-button-lists > li:nth-child(2):hover {
	background-color: #cd0909;
}

.reply-view-more-button-lists > li:nth-child(2) > a {
	text-decoration: none;
    color: white;
    font-size: 0.8rem;
}

.reply-profile {
	margin-bottom: 3px; 
	padding: 5px;
}

.reply-profile-contents-wrap {
	width: 100%;
	display: flex;
	flex-direction: row;
    justify-content: space-between;
}

input[type=button], input[type=submit] {
	width: 5em;
	height: 2.5em; 
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.edit-reply-form {
	flex-wrap: wrap;
	justify-content: flex-end;
}

.edit-reply-form > textarea {
	width: 98%;
	margin: 0 auto 10px auto;
    padding: 5px;
    border-radius: 7px;
    resize: none;
}

.edit-reply-form > input[type=submit], .edit-reply-form > input[type=button] {
	margin-left: 10px;
	color: white;
}

.edit-reply-form > input[type=submit] {
    background-color: #65A1E7;
    transition: background-color 1s ease-out;
}

.edit-reply-form > input[type=submit]:hover {
	background-color: #1d78e2;
}


.edit-reply-form > input[type=button] {
    background-color: #E47C7C;
    text-align: center;
    transition: background-color 1s ease-out;
}

.edit-reply-form > input[type=button]:hover {
	background-color: #cd0909;
}

.disabled {
    opacity: 0.35;
    pointer-events: none;
}

a {
	text-decoration: none;
}

a:link, a:visited {
	color: white;
}