.header {
    background-color: #f8f8f8;
    padding: 5px 0; /* 위아래 padding을 5px로 조정 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 50px; /* 헤더의 세로 크기를 50px로 설정 */
}

.header .container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .site-name h1 {
    margin: 0;
    font-size: 1.2rem; /* 폰트 사이즈를 줄임 */
}

.header .login-button button {
    padding: 8px 12px; /* 버튼의 padding을 조정하여 높이를 맞춤 */
    font-size: 1rem;
    cursor: pointer;
    background-color: #066AE0;
    color: white;
    border: none;
    border-radius: 5px;
}

.header .login-button button:hover {
    background-color: #024a9f;
}

.site-name h1 {
    margin: 0;
    font-size: 1.2rem; /* 폰트 사이즈를 줄임 */
}

.site-name h1 a {
    text-decoration: none;
    color: #333; /* 링크 색상 */
    transition: color 0.3s ease; /* 색상 변경 애니메이션 */
}

.site-name h1 a:hover {
    color: #066AE0; /* 호버 시 색상 변경 */
}
