.header {
	background-image: url("../images/header.png");
	background-size: contain;
    height: 34vw;
    background-repeat: no-repeat;
    position: relative;
}

.header .login-button a {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1rem;
    text-decoration: none;
    background-color: white;
    color: #066AE0;
    border: 2px solid #066AE0;
    border-radius: 5px;
    transition: 0.3s ease; 
}

.header .login-button a:hover {
    background-color: #024a9f;
    border-color: #024a9f;
    color: white;
}

.header .login-button a:focus {
    outline: none; /* 포커스 시 테두리 제거 */
}

.site-name {
    width: 100%;
    height: 97%;
    position: absolute;
}

.header .site-name a {
    position: absolute;
    width: 100%;
    height: 100%;
    text-decoration: none; /* 링크 스타일 제거 */
    color: inherit; /* 부모 요소의 색상 상속 */
}

.header .site-name a:hover {
    color: #066AE0; /* 호버 시 색상 변경 */
}

.header .login-button {
    position: absolute;
    right: 18px;
    top: 7px;
}
