@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Gowun+Dodum&family=Orbit&display=swap');

body {
	height: 100vh;
	margin: 0;
    box-sizing: border-box;
	font-family: Arial, sans-serif;
}

.sidebar {
	width: 200px;
	height: auto;
	box-sizing: border-box;
	flex: 2;
	margin: 0 auto auto auto;
	padding: 5px 10px;
	border: lightsteelblue solid 1px;
	border-radius: 7px;
	box-shadow: 0px 0px 4px 0px #066ae0;
	word-break: break-all;
	overflow-wrap: break-word;
}

.container {
	width: 90%;
	max-width: 1500px;
	margin: 50px auto;
	word-break: break-all;
 	overflow-wrap: break-word;
	height: auto;
	display: flex;
}

.content {
	flex: 8;
	width: 80%;
	max-width: 1200px;
	height: auto;
 	margin: 0 auto 50px 20px;
	padding: 5px 10px;
	border: #066ae0 solid 2px;
	border-radius: 7px;
	word-break: break-all;
 	overflow-wrap: break-word;
	overflow:auto; 
}

.contentImg{
	width: auto;
	height: 15vw;
	border-radius: 5px;
}

.myContent{
	margin-top: 10px;
	margin-left: 10px;	
}

.sidebar img {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	display: block;
 	margin: 0 auto;
}

.sidebar ul {
    display: flex;
    flex-direction: column;
    align-items: center;
	list-style: none;
	padding: 0;
	margin: 0;
}

.button{
	cursor: pointer;
	border-radius: 7px;
	background-color: #ededed;
	color: black;
	height : 40px;
	width : 90%;
	margin-bottom: 10px;
	font-size : 13px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0px;
	transition: 0.3s ease;
}

.button:hover {
	background-color: #65A1E7;
	color: white;
}

.nickname{
	font-family: "Gowun Dodum", sans-serif;
	font-size:large;
	text-align:center;
	margin-bottom: 24px;
}

.out{
	border-radius: 7px;
	background-color: #ededed;
	color: black;
	height : 40px;
	width : 90%;
	margin-bottom: 10px;
	font-size : 13px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transition: 0.3s ease;
}

.out:hover {
	background-color: #E47C7C;
	color: white;
}

.content h2 {
	font-family: "Do Hyeon", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.8rem;
	margin-top: 10px;
}

.posts {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 15px;
	width:100%;
	margin-bottom: 7px;
}

.post {
	position: relative;
	cursor: pointer;
	background-color: #fff;
	padding: 20px;
	box-sizing: border-box;
	text-align: center;
	display:block;
	height:auto;
	width:auto;
	object-fit: cover;
	border-radius: 7px;
	box-shadow: 0px 0px 7px 0px rgb(17 144 253 / 87%);
	font-family: "Orbit", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.post::after {
	content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    top: 0;
    left: 0;
    border-radius: 7px;
	transition: 0.3s ease;
}

.post:hover::after {
	content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #066ae052;
    display: block;
    top: 0;
    left: 0;
    border-radius: 7px;
}
